.search {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.filter {
  margin-top: 7%;
  text-align: center;
  float: right;
}
.box {
  border: 5px solid #971b2f;
  background-color: lightgray;
  margin-top: 7%;
  width: 250px;
  height: 500px;
  margin-right: 1%;
  float: right;
  overflow: auto;
}
.table {
  width: 83%;
  display: flex;
  position: relative;
}
